/* ############################################################
Term:       1212
Author:     Michael Edelnant
Project:    Project 2
Course:     Visual Frameworks 1
Instructor: Chad Gibson
File Name:  global.css
#############################################################*/

/*Import Custom Fonts w/ secure https */
@import url(https://fonts.googleapis.com/css?family=Pacifico);
@import url(https://fonts.googleapis.com/css?family=Oldenburg);


body {

	/*Generic Properties*/
	background: url(../img/bgTexture.jpg) 0 0 repeat;
	margin: .75em 0 0 0;
	padding: 0;

	/*Text*/
	font-family: Arial, Helvetica, sans-serif;
	font-size: 62.5%;	
}

/*Default link styling*/
a, a:link, a:visited, a:hover {
	color: #FCDA7F;
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}

/*Generic Button*/
.gBtn {
	
	/*Generic Properties*/
	display: block;
	padding: .25em 0;
	border-radius: 1em;
	border: 2px solid #363D4F;
	
	/*Text*/
	font-family: 'Oldenburg', cursive;
	font-size: 1.25em;
	text-shadow: 	0 -.15em 0 rgba(54,61,79,1);
	color: #FFF2CF;
	text-align: center;

	/*Background*/
	background: rgb(96,108,136); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(96,108,136,1) 21%, rgba(63,76,107,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(21%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(96,108,136,1) 21%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(96,108,136,1) 21%,rgba(63,76,107,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(96,108,136,1) 21%,rgba(63,76,107,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(96,108,136,1) 21%,rgba(63,76,107,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#606c88', endColorstr='#3f4c6b',GradientType=0 ); /* IE6-9 */

}

/*siteWidth with class modifier*/
.gBtn.gFullWidth {
	width: 100% !important;
}

/*Reset margins and padding on page elements*/
h1,h2,h3,h4,h5,
ul, li,
fieldset,
legend{
	margin: 0;
	padding: 0;
}

header,
footer {
	text-align: center;
}

header {
	/*Header Background*/
	background: #fceabb; /* Old browsers */
	background: -moz-linear-gradient(top,  #fceabb 0%, #fccd4d 50%, #fbdf93 87%, #f9b813 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fceabb), color-stop(50%,#fccd4d), color-stop(87%,#fbdf93), color-stop(100%,#f9b813)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#fbdf93 87%,#f9b813 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#fbdf93 87%,#f9b813 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #fceabb 0%,#fccd4d 50%,#fbdf93 87%,#f9b813 100%); /* IE10+ */
	background: linear-gradient(to bottom,  #fceabb 0%,#fccd4d 50%,#fbdf93 87%,#f9b813 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#f9b813',GradientType=0 ); /* IE6-9 */

	/*Header Top & Bottom Borders*/
	border-top: .3em solid #fff;

	/*DropShadow border illusion
		btmBlue Border
		topBlue Border
		veryTopWhite Border
	*/
	box-shadow: 0 .8em 0 rgb(77,82,95), 
				0 -.5em 0 rgb(77,82,95),
				0 -.75em 0 #fff,
				0 1em 2em rgba(0, 0, 0, 0.3);				

	/*Padding*/
	padding: 0 0 .25em 0;

}

header h1 {
	/*Script Font*/
	font-family: 'Pacifico', cursive;

	/*Text Size*/
	font-size: 2.5em;

	/*Text Color*/
	color: rgb(77,82,95);

	/*Text-Shadow*/
	text-shadow: 0 .1em 0 #FFF58F;

	font-weight: normal;
	margin: 0;
	padding: 0;
}

footer {
				
	/*Generic properties*/
	padding: 1.5em 1.5em;
	border-top: .3em solid #fff;
	border-bottom: .3em solid #ffffff;
	overflow: hidden;

	/*Text*/
	font-size: 1.2em;
	color: #FCDA7F;	

	/*Background*/
	background: rgb(249,184,19); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(249,184,19,1) 0%, rgba(251,223,147,1) 13%, rgba(252,205,77,1) 50%, rgba(252,234,187,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(249,184,19,1)), color-stop(13%,rgba(251,223,147,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(100%,rgba(252,234,187,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(249,184,19,1) 0%,rgba(251,223,147,1) 13%,rgba(252,205,77,1) 50%,rgba(252,234,187,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(249,184,19,1) 0%,rgba(251,223,147,1) 13%,rgba(252,205,77,1) 50%,rgba(252,234,187,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(249,184,19,1) 0%,rgba(251,223,147,1) 13%,rgba(252,205,77,1) 50%,rgba(252,234,187,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(249,184,19,1) 0%,rgba(251,223,147,1) 13%,rgba(252,205,77,1) 50%,rgba(252,234,187,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9b813', endColorstr='#fceabb',GradientType=0 ); /* IE6-9 */

	/*Margin Offset*/
	margin: 0 0 .9em 0;

	/*Shadows*/
	box-shadow: 0 -.5em 0 #133859,
				0 .5em 0 #133859,
				0 .7em 0 #fff,
				0 -1em 2em rgba(0, 0, 0, 0.3),
				0 1em 2em rgba(0, 0, 0, 0.3);		

}


	footer a {width: 47%;}
	footer a:first-child {float: left;}
	footer a:last-child {float: right;}
	footer a:hover {text-decoration: none;}


/*MainContent Wrapper*/
section#mainContent {
	position: relative;
	
	padding: 2em 2em 2em 1.5em;
	margin: 0 0 .5em 0;
	
	border-top: .3em solid #fff;
	border-bottom: .3em solid #fff;

	z-index: 2;
}

/*Custom Padding for Home Page*/
section#mainContent.gHome {padding: 1em;}

/*Home Page Paragraph Box*/
section#mainContent.gHome p {
	
	/*Generic Properties*/
	padding: 1em;
	border: 1px solid #99A0AF;

	/*Text*/
	color: #6F747F;
	font-size: 1.3em;
	line-height: 1.5em;

	/*Background*/
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(4%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 4%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 4%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 4%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 4%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	/*Shadows*/
	box-shadow: 0 .1em .5em rgba(0, 0, 0, 0.1);

}

/*CTA Banner Text*/
section#mainContent.gHome h2 {
	font-size: 2em;
	color: #7F766F;
	text-shadow: 0 .1em 0 rgba(255,255,255,1);
	text-align: center;
}
	/* Add Plus Icon(Technically can be included in string but this is more fun) */
	section#mainContent.gHome h2:before {content:" + ";}

/*Remove bullets from list-items*/
form ul li {
	list-style: none;
	margin: 0 0 1em 0;
}

/*Form styling*/
form fieldset {
	border: none;
	padding: 3em 0 0 0;
}

form fieldset legend {
	
	/*Change the Legend around to where I can make it full width*/
	display: block;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;

	/*Text*/
	font-family: 'Oldenburg', cursive;
	font-weight: normal;
	font-size: 1.2em;
	color: #FFF;
	text-shadow: .1em .1em .1em rgba(0,0,0,.5);

	/*Text Padding*/
	padding: .5em 0;
	text-align: center;

	/*Background*/
	background: -moz-linear-gradient(top,  rgba(0,42,79,1) 0%, rgba(0,35,72,0.6) 51%, rgba(0,28,66,0.82) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,42,79,1)), color-stop(51%,rgba(0,35,72,0.6)), color-stop(100%,rgba(0,28,66,0.82))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(0,42,79,1) 0%,rgba(0,35,72,0.6) 51%,rgba(0,28,66,0.82) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(0,42,79,1) 0%,rgba(0,35,72,0.6) 51%,rgba(0,28,66,0.82) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(0,42,79,1) 0%,rgba(0,35,72,0.6) 51%,rgba(0,28,66,0.82) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(0,42,79,1) 0%,rgba(0,35,72,0.6) 51%,rgba(0,28,66,0.82) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#002a4f', endColorstr='#d1001c42',GradientType=0 ); /* IE6-9 */

	/*Btm Border*/
	border-bottom: .3em solid #fff;

}

/*Add some stars before & after*/
form fieldset legend span:before,
form fieldset legend span:after
 { 
	content:" ★ ";
	color: #FCDB83;
}

/*Style Default Labels*/
form fieldset label,
form fieldset h2 {
	
	/*Generic Properties*/
	display: block;
	margin: 0 0 .25em 0;

	/*Text*/
	color: rgb(77,82,95);
	font-weight: bold;
	font-size: 1.5em;

	/*Shadows*/
	text-shadow: 0 .1em 0 rgba(255,255,255,1);
}

/*Lets have a little fun with an icon for main parent labels*/
form fieldset label span:before,
form fieldset h2 span:before {
	content:" ♨ ";
	color: #837D79;
}

/*Special Case for Radios and Checkboxes via .inlineLabelGroup class*/
form fieldset .inlineLabelGroup label {
	display: inline;
}

form fieldset .inlineLabelGroup {
	/* Clear floats for child elements*/
	overflow: hidden;
}
/*Float list-items next to one another : max of 2 across per percentage*/
form fieldset .inlineLabelGroup ul li {
	display: block;
	width: 50%;
	float: left;
}


/*Set percentage widths on most elements of the page*/
form fieldset input[type="text"],
form fieldset input[type="range"],
form fieldset input[type="date"],
form fieldset select,
form fieldset textarea{
	
	/*Generic Properties*/
	width: 99%;
	
	/*Text*/
	font-size: 1.5em;
}

/*Defaults for inputs & textareas*/
form fieldset input[type="text"],
form fieldset input[type="date"],
form fieldset textarea {
	
	/*Generic Properties*/
	padding: .5em 0 .5em .5em;
	border: .1em solid #ccc;

	/*Shadows*/
	box-shadow: 0 .1em .5em rgba(0, 0, 0, 0.1);		
}

/*Focus states for inputs & textareas*/
form fieldset input[type="text"]:focus,
form fieldset input[type="date"]:focus,
form fieldset textarea:focus {

	/*Generic Properties*/
	border: .1em solid rgb(77,82,95);
	
	/*Remove default browser outline*/
	outline: none;

	/*Text*/
	color: rgb(77,82,95);
	
	/*Shadows*/
	box-shadow: 0 0 1em rgba(125, 170, 223, .75);	
}

form input[type="button"]{
	
	/*General Properties*/
	width: 100%;
	padding: .1em 0;
	border: .1em solid #ccc;
	
	/*Text*/
	font-family: 'Oldenburg', cursive;
	font-size: 2em;
	color: rgb(77,82,95);

	/*Background*/
	background: rgb(252,234,187); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(252,234,187,1) 0%, rgba(252,205,77,1) 50%, rgba(248,181,0,1) 51%, rgba(251,223,147,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(252,234,187,1)), color-stop(50%,rgba(252,205,77,1)), color-stop(51%,rgba(248,181,0,1)), color-stop(100%,rgba(251,223,147,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(252,234,187,1) 0%,rgba(252,205,77,1) 50%,rgba(248,181,0,1) 51%,rgba(251,223,147,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fceabb', endColorstr='#fbdf93',GradientType=0 ); /* IE6-9 */

	/*Shadows*/
	box-shadow: 0 .1em .5em rgba(0, 0, 0, 0.1);
	text-shadow: 0 .1em 0 #FFF58F;

	/*Cursor*/
	cursor: pointer;

	/*Border-radius*/
	border-radius: 1em;

	/*Border*/
	border: .1em solid #9F7609;

}

form input[type="button"]:hover {
	
	/*Text*/
   	color: #3F2A0C;
	
	/*Inverted background with increased top shadow*/
	background: rgb(137,76,28); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(137,76,28,1) 0%, rgba(201,135,42,1) 17%, rgba(248,181,0,1) 61%, rgba(248,181,0,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(137,76,28,1)), color-stop(17%,rgba(201,135,42,1)), color-stop(61%,rgba(248,181,0,1)), color-stop(100%,rgba(248,181,0,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(137,76,28,1) 0%,rgba(201,135,42,1) 17%,rgba(248,181,0,1) 61%,rgba(248,181,0,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(137,76,28,1) 0%,rgba(201,135,42,1) 17%,rgba(248,181,0,1) 61%,rgba(248,181,0,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(137,76,28,1) 0%,rgba(201,135,42,1) 17%,rgba(248,181,0,1) 61%,rgba(248,181,0,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(137,76,28,1) 0%,rgba(201,135,42,1) 17%,rgba(248,181,0,1) 61%,rgba(248,181,0,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#894c1c', endColorstr='#f8b500',GradientType=0 ); /* IE6-9 */

	/*Tweak Box Shadow to inset and add bottom lip highlight*/
   	box-shadow:		inset 0 .2em 1em #9F7609,
   					0 .1em 0 #ffffff;

}

/* ############################################################
Data List Styling
############################################################ */

ul#dataList li {
	display: block;
	position: relative;
	list-style-type: none;
	overflow: hidden;
	margin: 0 0 1em 0;
	padding: .5em 0;
	border: 1px solid #99A0AF;

	/*Text*/
	color: #6F747F;
	font-size: 1.3em;
	line-height: 1.5em;

	/*Background*/
	background: rgb(255,255,255); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,255,255,1) 0%, rgba(237,237,237,1) 4%, rgba(255,255,255,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(4%,rgba(237,237,237,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 4%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 4%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 4%,rgba(255,255,255,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,1) 0%,rgba(237,237,237,1) 4%,rgba(255,255,255,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

	/*Shadows*/
	box-shadow: 0 .1em .5em rgba(0, 0, 0, 0.1);	
}
ul#dataList h3 {
	padding: 0 .9em;
}
ul#dataList li span {
	padding: 0 1em;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
}

ul#dataList li ul {
	border-top: 2px solid #ccc;
	margin-top: .5em;
	padding: .5em 1em 0 1em;
}
ul#dataList li ul li {
	margin: 0 0 0 0;
	padding: 0;
	border: none;
	background: transparent;
	box-shadow: none;
	font-size: .8em;
}
ul#dataList li ul li span {
	padding: 0;
}



